.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.homePage {
  display: flex;
  flex-direction: column;
}

.hedhed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    margin-left: 5rem;
}
.left li:hover{
  color: black;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    margin-right: 10rem;
}
.right li:hover{
  color: black;

}


.Landing-Container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7rem;
}


.img-img{
  width: 35em;
}

.title{
  font-size: 60px;
  font-weight: 900;
  
}

.desc{
  color: hsl(0, 0%, 41%);

}

.more-btn{
  background-color: black;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
margin-top: 2rem;
}

.more-btn:hover{
  background-color: rgb(48, 48, 48);
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  column-gap: 30px;
  margin-top: 4rem;
}

.Left-information{
display: flex;
flex-direction: column;
align-content: space-around;
margin-left: 7rem;
margin-top: 5rem;
}

.desc{
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  line-height: 28px;
}

@media (max-width :500px) {
  .Landing-Container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   
  }
  .img-img{
    width:30em;

  }
 .hedhed{
   display: flex;
   flex-direction: row;

  }
  .Left-information{
    margin-left: 0rem;
  }
  .left{
    margin-left: 0rem;
  }

}